[Desktop Entry]
Name=feterminal
Comment=Lightweight GTK terminal with editable shortcuts
Exec=/var/home/poppolouse/.local/bin/feterminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;GTK;
