[Desktop Entry]
Name=feterminal
Comment=Lightweight GTK terminal with editable shortcuts
Exec=python3 /var/home/poppolouse/feterminal/feterminal.py
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;GTK;
